<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your Page Title</title>
    <link rel="stylesheet" href='{% static "css/app.css" %}'> <!-- Link to your CSS file -->
</head>
<body>
    <header>
        <h1>{{ insert_name }}</h1>
        <!-- Navigation bar, logo, etc. -->
    </header>

    <div>
        {% if access_record %}
            <table>
                <tr>
                    <th>Site Name</th>
                    <th>Date Accessed</th>
                </tr>
                {% for acc in access_record %}
                <tr>
                    <td>{{ acc.name }}</td>
                    <td>{{ acc.date }}</td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <div>No Access Record</div>
        {% endif %}

        {% if user %}
            <table>
                <tr>
                    <th>User Name</th>
                    <th>email</th>
                    <th>dob</th>
                </tr>
                {% for us in user %}
                <tr>
                    <td>{{ us.name }}</td>
                    <td>{{ us.date }}</td>
                    <td>{{ us.date }}</td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <div>No Access Record</div>
        {% endif %}
    </div>
</body>
</html>
